In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('gender_equality_japanese_workplace_eng.csv', header=1)
total = len(df)

In [4]:
percentage = lambda x, y: x / y * 100

In [5]:
df.head()

,Age,My current job requires a degree or is skilled work.,There are more women in my workplace than men.,My boss is male.,The treatment between men and women in my workplace is not equal.,I feel disadvantaged because I am female.,There are things I have to do as a female that males do not.,As a female there are things I can not do that males can.,I would like to do a managerial job.,I will quit work when I marry/When I married I quit work.,My workplace offers maternity leave.,My workplace offers maternity leave to not just women but men too.,I feel that there is pressure for women to quit work once married.
0,40-49,disagree,disagree,disagree,disagree,agree,agree,disagree,agree,disagree,agree,agree,disagree
1,20-29,disagree,disagree,agree,disagree,disagree,agree,disagree,agree,disagree,agree,agree,disagree
2,20-29,disagree,agree,disagree,disagree,disagree,disagree,disagree,disagree,disagree,agree,disagree,disagree
3,50~,agree,disagree,disagree,disagree,disagree,disagree,disagree,disagree,disagree,disagree,disagree,disagree
4,30-39,agree,disagree,agree,agree,agree,agree,disagree,agree,disagree,disagree,disagree,agree

In [6]:
df.describe()

,Age,My current job requires a degree or is skilled work.,There are more women in my workplace than men.,My boss is male.,The treatment between men and women in my workplace is not equal.,I feel disadvantaged because I am female.,There are things I have to do as a female that males do not.,As a female there are things I can not do that males can.,I would like to do a managerial job.,I will quit work when I marry/When I married I quit work.,My workplace offers maternity leave.,My workplace offers maternity leave to not just women but men too.,I feel that there is pressure for women to quit work once married.
count,51,51,51,51,51,51,51,51,51,51,51,51,51
unique,5,2,2,2,2,2,2,2,2,2,2,2,2
top,20-29,agree,disagree,agree,disagree,disagree,disagree,disagree,disagree,disagree,agree,agree,disagree
freq,19,28,26,31,35,38,28,40,32,45,44,27,32

In [7]:
df.columns = ['Age', 'Skilled', 'More Women', 'Male Boss', 'Unequal', 'Disadvantaged',
              'Female Tasks', 'Male Tasks', 'Managerial', 'Quit', 'Maternity',
              'Male Maternity', 'Pressure']

df.head()

,Age,Skilled,More Women,Male Boss,Unequal,Disadvantaged,Female Tasks,Male Tasks,Managerial,Quit,Maternity,Male Maternity,Pressure
0,40-49,disagree,disagree,disagree,disagree,agree,agree,disagree,agree,disagree,agree,agree,disagree
1,20-29,disagree,disagree,agree,disagree,disagree,agree,disagree,agree,disagree,agree,agree,disagree
2,20-29,disagree,agree,disagree,disagree,disagree,disagree,disagree,disagree,disagree,agree,disagree,disagree
3,50~,agree,disagree,disagree,disagree,disagree,disagree,disagree,disagree,disagree,disagree,disagree,disagree
4,30-39,agree,disagree,agree,agree,agree,agree,disagree,agree,disagree,disagree,disagree,agree

## Equal Sample

In [8]:
df_equal = df.loc[df['Unequal'] == 'disagree', ['Female Tasks', 'Male Maternity', 'Pressure']]
total_equal = len(df_equal)

print('% Equal: {0}'.format(percentage(total_equal, total)))

df_20s_equal.head()

% Equal: 68.62745098039215

NameError: name 'df_20s_equal' is not defined

In [ ]:
equal = len(df_20s_equal.loc[(df_equal['Female Tasks'] == 'disagree') & 
       (df_equal['Male Maternity'] == 'agree') & 
       (df_equal['Pressure'] == 'disagree')])

print("Entries: {0} | Equal: {1} | % True Equal: {2}".format(total_equal, equal, percentage(equal, entries)))

## Unequal Sample

In [ ]:
df_unequal = df.loc[df['Unequal'] == 'agree', ['Female Tasks', 'Male Maternity', 'Pressure']]
total_unequal = len(df_unequal)

print('% Unequal: {0}'.format(percentage(total_unequal, total)))

df_unequal.head()

In [ ]:
female_tasks = percentage(df_unequal['Female Tasks'].value_counts()['agree'], total_unequal)
male_maternity = percentage(df_unequal['Male Maternity'].value_counts()['disagree'], total_unequal)
pressure = percentage(df_unequal['Pressure'].value_counts()['agree'], total_unequal)
print("Female Tasks: {0} | Male Maternity: {1} | Pressure {2}".format(female_tasks, male_maternity, pressure))

## Skilled Sample

In [9]:
skilled = df.loc[df['Skilled'] == 'agree']
total_skilled = len(skilled)

print('% Skilled: {0}'.format(percentage(total_skilled, total)))

skilled.head()

% Skilled: 54.90196078431373

,Age,Skilled,More Women,Male Boss,Unequal,Disadvantaged,Female Tasks,Male Tasks,Managerial,Quit,Maternity,Male Maternity,Pressure
3,50~,agree,disagree,disagree,disagree,disagree,disagree,disagree,disagree,disagree,disagree,disagree,disagree
4,30-39,agree,disagree,agree,agree,agree,agree,disagree,agree,disagree,disagree,disagree,agree
5,20-29,agree,agree,agree,disagree,disagree,agree,disagree,disagree,disagree,agree,agree,agree
8,~19,agree,disagree,agree,agree,disagree,agree,agree,disagree,disagree,disagree,disagree,agree
14,50~,agree,disagree,agree,agree,disagree,agree,agree,agree,disagree,disagree,disagree,disagree

In [10]:
skilled_unequal = df.loc[(df['Skilled'] == 'agree') & (df['Unequal'] == 'agree')]
total_skilled_unequal = len(skilled_unequal)

print('% Skilled, Unequal: {0}'.format(percentage(total_skilled_unequal, total_skilled)))

skilled_unequal.head()

% Skilled, Unequal: 25.0

,Age,Skilled,More Women,Male Boss,Unequal,Disadvantaged,Female Tasks,Male Tasks,Managerial,Quit,Maternity,Male Maternity,Pressure
4,30-39,agree,disagree,agree,agree,agree,agree,disagree,agree,disagree,disagree,disagree,agree
8,~19,agree,disagree,agree,agree,disagree,agree,agree,disagree,disagree,disagree,disagree,agree
14,50~,agree,disagree,agree,agree,disagree,agree,agree,agree,disagree,disagree,disagree,disagree
16,30-39,agree,agree,agree,agree,disagree,agree,agree,agree,disagree,agree,disagree,disagree
20,20-29,agree,disagree,agree,agree,disagree,disagree,disagree,disagree,disagree,agree,agree,disagree

In [13]:
skilled_pressure = df.loc[(df['Skilled'] == 'agree') & (df['Pressure'] == 'agree')]
total_skilled_pressure = len(skilled_pressure)

print('% Skilled, Pressure: {0}'.format(percentage(total_skilled_pressure, total_skilled)))

skilled_pressure.head()

% Skilled, Pressure: 32.142857142857146

,Age,Skilled,More Women,Male Boss,Unequal,Disadvantaged,Female Tasks,Male Tasks,Managerial,Quit,Maternity,Male Maternity,Pressure
4,30-39,agree,disagree,agree,agree,agree,agree,disagree,agree,disagree,disagree,disagree,agree
5,20-29,agree,agree,agree,disagree,disagree,agree,disagree,disagree,disagree,agree,agree,agree
8,~19,agree,disagree,agree,agree,disagree,agree,agree,disagree,disagree,disagree,disagree,agree
17,20-29,agree,agree,agree,disagree,disagree,disagree,disagree,disagree,disagree,agree,agree,agree
26,50~,agree,agree,disagree,agree,disagree,agree,agree,disagree,disagree,agree,agree,agree

In [18]:
skilled_disadv = df.loc[(df['Skilled'] == 'agree') & (df['Disadvantaged'] == 'agree')]
total_skilled_disadv = len(skilled_disadv)

print('% Skilled, Disadvantaged: {0}'.format(percentage(total_skilled_disadv, total_skilled)))

skilled_disadv.head()

% Skilled, Disadvantaged: 10.714285714285714

,Age,Skilled,More Women,Male Boss,Unequal,Disadvantaged,Female Tasks,Male Tasks,Managerial,Quit,Maternity,Male Maternity,Pressure
4,30-39,agree,disagree,agree,agree,agree,agree,disagree,agree,disagree,disagree,disagree,agree
32,40-49,agree,agree,disagree,disagree,agree,disagree,disagree,disagree,disagree,agree,disagree,disagree
40,50~,agree,agree,disagree,disagree,agree,disagree,disagree,disagree,agree,agree,agree,disagree

## Unskilled sample

In [12]:
unskilled = df.loc[df['Skilled'] == 'disagree']
total_unskilled = len(unskilled)

print('% Unskilled: {0}'.format(percentage(total_unskilled, total)))

unskilled.head()

% Unskilled: 45.09803921568628

,Age,Skilled,More Women,Male Boss,Unequal,Disadvantaged,Female Tasks,Male Tasks,Managerial,Quit,Maternity,Male Maternity,Pressure
0,40-49,disagree,disagree,disagree,disagree,agree,agree,disagree,agree,disagree,agree,agree,disagree
1,20-29,disagree,disagree,agree,disagree,disagree,agree,disagree,agree,disagree,agree,agree,disagree
2,20-29,disagree,agree,disagree,disagree,disagree,disagree,disagree,disagree,disagree,agree,disagree,disagree
6,20-29,disagree,disagree,disagree,disagree,disagree,disagree,disagree,agree,disagree,agree,disagree,disagree
7,20-29,disagree,disagree,agree,disagree,disagree,disagree,disagree,disagree,disagree,agree,disagree,agree

In [15]:
unskilled_unequal = df.loc[(df['Skilled'] == 'disagree') & (df['Unequal'] == 'agree')]
total_unskilled_unequal = len(unskilled_unequal)

print('% Unskilled, Equal: {0}'.format(percentage(total_unskilled_unequal, total_unskilled)))

unskilled_unequal.head()

% Unskilled, Equal: 39.130434782608695

,Age,Skilled,More Women,Male Boss,Unequal,Disadvantaged,Female Tasks,Male Tasks,Managerial,Quit,Maternity,Male Maternity,Pressure
9,20-29,disagree,disagree,agree,agree,disagree,agree,disagree,disagree,agree,agree,agree,agree
10,30-39,disagree,disagree,agree,agree,agree,agree,disagree,agree,disagree,agree,disagree,agree
11,20-29,disagree,agree,agree,agree,disagree,agree,disagree,agree,disagree,agree,disagree,disagree
12,40-49,disagree,disagree,agree,agree,agree,agree,disagree,agree,disagree,agree,disagree,agree
27,50~,disagree,disagree,agree,agree,agree,agree,agree,agree,agree,agree,agree,agree

In [16]:
unskilled_pressure = df.loc[(df['Skilled'] == 'disagree') & (df['Pressure'] == 'agree')]
total_unskilled_pressure = len(unskilled_pressure)

print('% Unskilled, Pressure: {0}'.format(percentage(total_unskilled_pressure, total_unskilled)))

unskilled_pressure.head()

% Unskilled, Pressure: 43.47826086956522

,Age,Skilled,More Women,Male Boss,Unequal,Disadvantaged,Female Tasks,Male Tasks,Managerial,Quit,Maternity,Male Maternity,Pressure
7,20-29,disagree,disagree,agree,disagree,disagree,disagree,disagree,disagree,disagree,agree,disagree,agree
9,20-29,disagree,disagree,agree,agree,disagree,agree,disagree,disagree,agree,agree,agree,agree
10,30-39,disagree,disagree,agree,agree,agree,agree,disagree,agree,disagree,agree,disagree,agree
12,40-49,disagree,disagree,agree,agree,agree,agree,disagree,agree,disagree,agree,disagree,agree
13,20-29,disagree,disagree,agree,disagree,disagree,agree,agree,disagree,agree,agree,disagree,agree

In [17]:
unskilled_disadv = df.loc[(df['Skilled'] == 'disagree') & (df['Disadvantaged'] == 'agree')]
total_unskilled_disadv = len(unskilled_disadv)

print('% Unskilled, Disadvantaged: {0}'.format(percentage(total_unskilled_disadv, total_unskilled)))

unskilled_disadv.head()

% Unskilled, Disadvantaged: 43.47826086956522

,Age,Skilled,More Women,Male Boss,Unequal,Disadvantaged,Female Tasks,Male Tasks,Managerial,Quit,Maternity,Male Maternity,Pressure
0,40-49,disagree,disagree,disagree,disagree,agree,agree,disagree,agree,disagree,agree,agree,disagree
10,30-39,disagree,disagree,agree,agree,agree,agree,disagree,agree,disagree,agree,disagree,agree
12,40-49,disagree,disagree,agree,agree,agree,agree,disagree,agree,disagree,agree,disagree,agree
15,20-29,disagree,agree,agree,disagree,agree,agree,agree,disagree,agree,disagree,disagree,agree
18,40-49,disagree,agree,disagree,disagree,agree,disagree,disagree,agree,disagree,disagree,disagree,disagree